webService/Cell2iWebService/WebContent/wsdl/Cell2iWebServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.cell2iwebservice.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.cell2iwebservice.com" xmlns:intf="http://services.cell2iwebservice.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.cell2iwebservice.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="isAuthorized">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isAuthorizedResponse">
    <complexType>
     <sequence>
      <element name="isAuthorizedReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserInfo">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserInfoResponse">
    <complexType>
     <sequence>
      <element name="getUserInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isConnected">
    <complexType/>
   </element>
   <element name="isConnectedResponse">
    <complexType>
     <sequence>
      <element name="isConnectedReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTariffInfo">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTariffInfoResponse">
    <complexType>
     <sequence>
      <element name="getTariffInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsageInfo">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
      <element name="infoType" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsageInfoResponse">
    <complexType>
     <sequence>
      <element name="getUsageInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isDBConnected">
    <complexType/>
   </element>
   <element name="isDBConnectedResponse">
    <complexType>
     <sequence>
      <element name="isDBConnectedReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInvoiceInfo">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
      <element name="invoiceCount" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInvoiceInfoResponse">
    <complexType>
     <sequence>
      <element name="getInvoiceInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeUserPassword">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeUserPasswordResponse">
    <complexType>
     <sequence>
      <element name="changeUserPasswordReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserInfoRequest">

      <wsdl:part element="impl:getUserInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserInfoResponse">

      <wsdl:part element="impl:getUserInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isConnectedRequest">

      <wsdl:part element="impl:isConnected" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInvoiceInfoResponse">

      <wsdl:part element="impl:getInvoiceInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTariffInfoRequest">

      <wsdl:part element="impl:getTariffInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsageInfoRequest">

      <wsdl:part element="impl:getUsageInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTariffInfoResponse">

      <wsdl:part element="impl:getTariffInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isDBConnectedResponse">

      <wsdl:part element="impl:isDBConnectedResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsageInfoResponse">

      <wsdl:part element="impl:getUsageInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isDBConnectedRequest">

      <wsdl:part element="impl:isDBConnected" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isAuthorizedRequest">

      <wsdl:part element="impl:isAuthorized" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isConnectedResponse">

      <wsdl:part element="impl:isConnectedResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changeUserPasswordRequest">

      <wsdl:part element="impl:changeUserPassword" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isAuthorizedResponse">

      <wsdl:part element="impl:isAuthorizedResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changeUserPasswordResponse">

      <wsdl:part element="impl:changeUserPasswordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInvoiceInfoRequest">

      <wsdl:part element="impl:getInvoiceInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Cell2iWebServiceImpl">

      <wsdl:operation name="isAuthorized">

         <wsdl:input message="impl:isAuthorizedRequest" name="isAuthorizedRequest">

       </wsdl:input>

         <wsdl:output message="impl:isAuthorizedResponse" name="isAuthorizedResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserInfo">

         <wsdl:input message="impl:getUserInfoRequest" name="getUserInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserInfoResponse" name="getUserInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isConnected">

         <wsdl:input message="impl:isConnectedRequest" name="isConnectedRequest">

       </wsdl:input>

         <wsdl:output message="impl:isConnectedResponse" name="isConnectedResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTariffInfo">

         <wsdl:input message="impl:getTariffInfoRequest" name="getTariffInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTariffInfoResponse" name="getTariffInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUsageInfo">

         <wsdl:input message="impl:getUsageInfoRequest" name="getUsageInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUsageInfoResponse" name="getUsageInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isDBConnected">

         <wsdl:input message="impl:isDBConnectedRequest" name="isDBConnectedRequest">

       </wsdl:input>

         <wsdl:output message="impl:isDBConnectedResponse" name="isDBConnectedResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getInvoiceInfo">

         <wsdl:input message="impl:getInvoiceInfoRequest" name="getInvoiceInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getInvoiceInfoResponse" name="getInvoiceInfoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changeUserPassword">

         <wsdl:input message="impl:changeUserPasswordRequest" name="changeUserPasswordRequest">

       </wsdl:input>

         <wsdl:output message="impl:changeUserPasswordResponse" name="changeUserPasswordResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Cell2iWebServiceImplSoapBinding" type="impl:Cell2iWebServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isAuthorized">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isAuthorizedRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isAuthorizedResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUserInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isConnected">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isConnectedRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isConnectedResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTariffInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTariffInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTariffInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUsageInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsageInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsageInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isDBConnected">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isDBConnectedRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isDBConnectedResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getInvoiceInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInvoiceInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInvoiceInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="changeUserPassword">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeUserPasswordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changeUserPasswordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Cell2iWebServiceImplService">

      <wsdl:port binding="impl:Cell2iWebServiceImplSoapBinding" name="Cell2iWebServiceImpl">

         <wsdlsoap:address location="http://localhost:8082/Cell2iWebService/services/Cell2iWebServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
